/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

[data-type="uk-gb/uk-icon"][data-align="left"] {
	margin-top: 0 !important;
}
[data-type="uk-gb/uk-icon"][data-align="right"] {
	margin-top: 0 !important;
}
.uk-gb-icon-select {
	overflow: hidden;
	padding-bottom: 8px !important;
	.uk-gb-icon-holder {
		.uk-icon-button.uk-gb-icon-button{
			background: white;
			color: #1e87f0;
			&:hover {
				cursor: pointer;
				box-shadow: none;
			}
			&.uk-gb-icon-selected {
				background: #1e87f0;
				color: white;
			}
		}
	}
}

.wp-block .uk-icon-ratio {
  	width: auto!important;
  	height: auto!important;
  	padding: 8px!important
}

