/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.uk-item-block {
	//overflow: hidden;
	display: flex;
}
 .uk-section,
 .uk-container {
 	position: relative;
 }

.uk-fill-parent {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.uk-full-width-wrapper {
	position: absolute;
}