/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .uk-section,
 .uk-container {
 	position: relative;
 }

.uk-fill-parent {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.uk-full-width-wrapper {
	position: absolute;
}

.uk-split-block {
	>div {
		flex-wrap: wrap;
	}
}

.uk-split-item {
	width: 50%;
	display: block;
	&.uk-split-item-contained {
		&:nth-child(1) {
			margin-left: auto;
		}
		&:nth-child(2) {
			margin-right: auto;
		}
		max-width: 600px;
	}
}

@media (max-width: $breakpoint-small-max) {

    .uk-split-item {
    	.stackMobile & {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			max-width: none;

		}
    }
}

@media (max-width: $breakpoint-medium-max) {

    .uk-split-item {
    	.stackTablet & {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			max-width: none;
		}
    }
}

	