/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

[data-type="uk-gb/uk-item-block"] {
    &[data-align="full"] {
        >.is-block-content {
            >.uk-gb-block {
                 >.block-editor-inner-blocks {
                    .block-editor-block-list__layout {
                        >.wp-block {
                            max-width: none;
                        }
                    }
                }
            }
            >.uk-gb-contained {
                >.block-editor-inner-blocks {
                    max-width: var(--uk-breakpoint-l);
                    margin-left: auto;
                    margin-right: auto;                    
                }
            }
        }
    }
}

//Uk Width classes
/* Full */
.uk-width-1-1 { width: 100%; }

/* Halves */
.uk-width-1-2 { width: 50%; }

/* Thirds */
.uk-width-1-3 { width: unquote('calc(100% * 1 / 3.001)'); }
.uk-width-2-3 { width: unquote('calc(100% * 2 / 3.001)'); }

/* Quarters */
.uk-width-1-4 { width: 25%; }
.uk-width-3-4 { width: 75%; }

/* Fifths */
.uk-width-1-5 { width: 20%; }
.uk-width-2-5 { width: 40%; }
.uk-width-3-5 { width: 60%; }
.uk-width-4-5 { width: 80%; }

/* Sixths */
.uk-width-1-6 { width: unquote('calc(100% * 1 / 6.001)'); }
.uk-width-5-6 { width: unquote('calc(100% * 5 / 6.001)'); }



/* Full */
.uk-width-1-1\@m[data-align="left"],
.uk-width-1-1\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-1-1;
    }
}

/* Halves */
.uk-width-1-2\@m[data-align="left"],
.uk-width-1-2\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-1-2;
    }
}

/* Thirds */
.uk-width-1-3\@m[data-align="left"],
.uk-width-1-3\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-1-3;
    }
}

.uk-width-2-3\@m[data-align="left"],
.uk-width-2-3\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-2-3;
    }
}

/* Quarters */
.uk-width-1-4\@m[data-align="left"],
.uk-width-1-4\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-1-4;
    }
}

.uk-width-3-4\@m[data-align="left"],
.uk-width-3-4\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-3-4;
    }
}

/* Fifths */
.uk-width-1-5\@m[data-align="left"],
.uk-width-1-5\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-1-5;
    }
}
.uk-width-2-5\@m[data-align="left"],
.uk-width-2-5\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-2-5;
    }
}
.uk-width-3-5\@m[data-align="left"],
.uk-width-3-5\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-3-5;
    }
}
.uk-width-4-5\@m[data-align="left"],
.uk-width-4-5\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-4-5;
    }
}

/* Sixths */
.uk-width-1-6\@m[data-align="left"],
.uk-width-1-6\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-1-6;
    }
}
.uk-width-5-6\@m[data-align="left"],
.uk-width-5-6\@m[data-align="right"] {
    
    >.block-editor-block-list__block-edit {
        @extend .uk-width-5-6;
    }
}

//Maek the inspector slightly bigger - helps with ACF fields.
@media (min-width: 782px) {
    .edit-post-sidebar {
        width: 380px;
    }
}

//Other Insepctor controls.
.uk-gb-tab-panel {
    .uk-gb-tab {
        border-bottom: 4px solid $inactive-border-color;
        padding: 8px 12px 8px 12px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &.active-tab {
            border-bottom-color:  $active-color;
            color:  $active-color;
        }
    }
    .components-tab-panel__tab-content {
        .components-panel__row {
            display: block;
        }
    }
    h2 {
        margin-bottom: 4px;
    }
}

.uk-gb-button-group {
    button {
        svg {
            fill: currentColor;
            outline: none;
        }
    }
}

.uk-gb-editor-toggle {
    &.is-toggled {
        > svg {
            outline: none;
            color: #fff;
            box-shadow: none;
            background: #555d66;
        }
        &:hover {
            svg {
                color: white!important;
            }
            
        }
    }
}

.uk-gb-gradient-buttons {
    .top-left {
    	svg {
    		transform: rotate(45deg);
    	}
    	
    }
    .top-right {
    	svg {
    		transform: rotate(215deg);
    	}
    	
    }
}

.uk-gb-color-popover-container {
    margin-bottom: 8px;
}
.components-color-palette__clear {
    float: left;
}
.uk-gb-beside-color-click {
    height: 24px;
    button {
        padding : 0;
        margin-right: 8px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .uk-gb-advanced-color-indicate {
        height: 24px;
        margin-left: 0;
    }
}

.uk-gb-popover-color {
    .components-color-palette {
        padding: 16px;
        overflow: hidden;
    }
    .components-color-palette__item-wrapper {
        float: left;
        margin-right: 16px;
        position: relative;
        button {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
        svg {
            position: absolute;
            top: 8px;
            left: 8px;
            width: 20px;
            height: 20px;
            background: #ffffff;
            border-radius: 50%;
        }
    }
    .uk-gb-opacity-value {
        padding: 16px;
    }

}

.uk-gb-control-section {
    padding: 8px 0;
    h2 {
        margin: 0 0 8px;
    }
}

.uk-gb-toggle-control {
    margin-top: 8px;
}
.uk-gb-graditent-control {
    margin-bottom: 8px;
}

h2.uk-gb-section-heading {
    font-weight: bold
}

.editor-styles-wrapper.uk-gb-panel-wrapper {
    background: transparent;
}

.acf-color-picker .wp-picker-holder {
    position: absolute;
    z-index: 9999;
    right: -10px;
}

.acf-gallery .acf-gallery-side-data {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 91px;
    left: 0;
    overflow: auto;
    overflow-x: auto;
    padding: 10px;
}

.acf-block-panel .acf-block-fields {
    border: none;
    border-top: #e2e4e7 solid 1px;
    margin: 0!important;
    padding: 0;
}

.gb-uk-viewport-height {
    min-height: 100vh;
    > .editor-block-list__block-edit {
        min-height: 100vh;
    }
}



	
