/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//@import '../common-inspector-controls/common.scss';

 /*Variables*/
$primary-color: #1e87f0;
$inactive-border-color: #ddd;
$active-color: #0085ba;

//Basic UI Kit Flex Classes

.uk-flex { display: flex; }

//V align
.uk-flex-stretch { align-items: stretch; }
.uk-flex-top { align-items: flex-start; }
.uk-flex-middle { align-items: center; }
.uk-flex-bottom { align-items: flex-end; }

//H align
.uk-flex-left { justify-content: flex-start; }
.uk-flex-center { justify-content: center; }
.uk-flex-right { justify-content: flex-end; }

//Direction
.uk-flex-row { flex-direction: row; }
.uk-flex-row-reverse { flex-direction: row-reverse; }
.uk-flex-column { flex-direction: column; }
.uk-flex-column-reverse { flex-direction: column-reverse; }


//Warping
.uk-flex-wrap { flex-wrap: wrap; }

.uk-flex-wrap-stretch { align-content: stretch; }
.uk-flex-wrap-top { align-content: flex-start; }
.uk-flex-wrap-middle { align-content: center; }
.uk-flex-wrap-bottom { align-content: flex-end; }
.uk-flex-wrap-between { align-content: space-between; }
.uk-flex-wrap-around { align-content: space-around; }

.uk-grid  {
  margin: 0 auto;
}

[data-type="uk-gb/uk-grid-item"] {
	max-width: 100%;
}

.uk-grid-editor {
	>.block-editor-inner-blocks{
		width: 100%;
		>.block-editor-block-list__layout {
			>[data-type="uk-gb/uk-grid-item"]{
				display: flex;
				min-width: 0;
				word-break: break-word;
				overflow-wrap: break-word;
				max-width: none;
				margin-left: 0;
				margin-right: 0;
				.uk-gb-block {
					width: 100%;
				}
				.wp-block-image > div > .components-resizable-box__container {
					max-width: 100%;
				}
			}
			>.block-list-appender {
				width: 100%;
				margin-top: 40px;
			}
		}
	}	

	
}
//NEW
.uk-gb-block.uk-grid-editor {
	
	display: flex;

	//ROW
	&.uk-flex-row {
		flex-direction: row;
		>.block-editor-inner-blocks{
			>.block-editor-block-list__layout {
				flex-direction: row;
			}
		}
		//h align
		&.h-align-left {
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					justify-content: flex-start;
				}
			}
			
		}
		&.h-align-center {
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					justify-content: center;
				}
			}
			
		}
		&.h-align-right {
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					justify-content: flex-end;
				}
			}
			
		}
		//v align
		&.v-align-top {
			align-items: flex-start;
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					>div {
						align-items: flex-start;
					}
				}
			}
		}
		&.v-align-middle {
			align-items: center;
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					>div {
						align-items: center;
					}
				}
			}
		}
		&.v-align-bottom {
			align-items: flex-end;
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					>div {
						align-items: flex-end;
					}
				}
			}
		}
	}

	//COLUMN
	&.uk-flex-column {
		flex-direction: column;
		>.block-editor-inner-blocks{
			>.block-editor-block-list__layout {
				flex-direction: column;
			}
		}
		//h align
		&.h-align-left {
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					align-items: flex-start;
				}
			}
			
		}
		&.h-align-center {
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					align-items: center;
				}
			}
			
		}
		&.h-align-right {
			>.block-editor-inner-blocks{
				>.block-editor-block-list__layout {
					align-items: flex-end;
				}
			}
			
		}
		//v align
		&.v-align-top {
			justify-content: flex-start;
		}
		&.v-align-middle {
			justify-content: center;
		}
		&.v-align-bottom {
			justify-content: flex-end;
		}
	}	
}