/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 //NEW
.uk-grid-wrapper {
	
	display: flex;

	>.uk-gb-grid{
		flex-grow: 1;
		width: 100%;
	}

	//ROW
	&.uk-flex-row {
		flex-direction: row;

		>.uk-gb-grid{
			flex-direction: row;
		}
		//h align
		&.h-align-left {
			>.uk-gb-grid{
				justify-content: flex-start;
			}
		}
		&.h-align-center {
			>.uk-gb-grid{
				justify-content: center;
			}
		}
		&.h-align-right {
			>.uk-gb-grid{
				justify-content: flex-end;
			}
		}
		//v align
		&.v-align-top {
			align-items: flex-start;
			>.uk-gb-grid{
				>div {
					align-self: flex-start;
				}
			}
		}
		&.v-align-middle {
			align-items: center;
			>.uk-gb-grid{
				>div {
					align-self: center;
				}
			}
		}
		&.v-align-bottom {
			align-items: flex-end;
			>.uk-gb-grid{
				>div {
					align-self: flex-end;
				}
			}
		}
	}

	//COLUMN
	&.uk-flex-column {
		flex-direction: column;
		>.uk-gb-grid{
			flex-direction: column;
		}
		//h align
		&.h-align-left {
			>.uk-gb-grid{
				align-items: flex-start;
			}
		}
		&.h-align-center {
			>.uk-gb-grid{
				align-items: center;
			}
		}
		&.h-align-right {
			>.uk-gb-grid{
				align-items: flex-end;
			}
		}
		//v align
		&.v-align-top {
			justify-content: flex-start;
		}
		&.v-align-middle {
			justify-content: center;
		}
		&.v-align-bottom {
			justify-content: flex-end;
		}
	}
		
	
}